  page{
	  background: #fdc469;
  }
  .styles_pulse__9HoxO {
    display: inline-block;
    -webkit-animation: styles_pulse-loader__5535u 1.5s ease-out infinite;
    animation: styles_pulse-loader__5535u 1.5s ease-out infinite;
    /* border-radius: 50%; */
    overflow: hidden;
    width: 300rpx;
    height: 80rpx;
	line-height: 80rpx;
	text-align: center;
}
 
@keyframes styles_pulse-loader__5535u {
  0% {
    /* box-shadow: 0 0 0 0 rgb(225 170 76 / 0%); */
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
      /* box-shadow: 0 0 0 4px rgb(225 170 76 / 60%); */
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  80% {
      /* box-shadow: 0 0 0 8px rgb(225 170 76 / 0%); */
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

.cjjl{
	width:60rpx;
	height: 240rpx;
	background-color: #fdc469;
	position: fixed;
	right: 0rpx;
	bottom: 45%;
	text-align: center;
	line-height: 50rpx;
	padding:20rpx 0rpx;
	border-radius: 20rpx 0rpx 0rpx 20rpx;
	font-weight: bold;
}